<div class="new-list-form">
  <%= form_with model: @list, local: true do |l| %>
    <div id="new-list">
      <p>
        <%= l.label :"1:あなたはどのような価値観で育てられましたか？自分のいまの思考体系は、
それらの価値観を反映しているか、育てられた価値観とは違う視点で世界を見ていますか？", class: 'label-list' %><br>
        <%= l.text_area :answer, class: 'form-area', required: true%>
      </p>
      <p>
        <%= l.label :"2:あなたの幼い頃や思春期における最も重要な出来事や経験は何ですか？", class: 'label-list' %><br>
        <%= l.text_area :event, class: 'form-area' %>
      </p>
      <p>
        <%= l.label :"3:あなたは職場や私生活で、どんな人たちを一番尊敬していて、
          その人たちのどんなところを尊敬していますか？", class: 'label-list' %><br>
        <%= l.text_area :respect, class: 'form-area', required: true%>
      </p>
      <p>
        <%= l.label :"4:あなたが一番尊敬していないのはどんな人で、なぜそんな風に思いますか？", class: 'label-list' %><br>
        <%= l.text_area :disdain, class: 'form-area', required: true %>
      </p>
      <p>
        <%= l.label :"5:あなたのいままでで最高（最悪）の上司は誰ですか？そう思うのは、
その上司が何をしたからですか？", class: 'label-list', required: true %><br>
        <%= l.text_area :boss, class: 'form-area' %>
      </p>
      <p>
        <%= l.label :"6:自分の子供を育てたり、他人を指導するにあたり、
          一番伝えたいのはどんな行動で、一番伝えたくないのはどんな行動ですか？", class: 'label-list' %><br>
        <%= l.text_area :guidance, class: 'form-area', required: true %>
      </p>
      <div class="container">
        <p><%= l.submit "登録", class: "btn-submit", required: true %></p>
      </div>
  <% end %>
  </div>
</div>
<%= render 'shared/footer_fix' %>