<div class="flex-container">
  <table>
    <tr>
      <th class="text-center">価値観</th>
      <th>◎(超重要)</th>
      <th>○(重要)</th>
      <th>△(普通)</th>
    </tr>
    <% if @user.lists.any? %>
      <% @user.lists do |f| %>
        <tr>
          <td><%= f.question %></td>
          <td> <%= f.radio_button :question1, :important, class: "position" %></td>
          <td> <%= f.radio_button :question1, :good, class: "position" %></td>
          <td> <%= f.radio_button :question1, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問2(本文)</td>
          <td> <%= f.radio_button :question2, :important, class: "position" %></td>
          <td> <%= f.radio_button :question2, :good, class: "position" %></td>
          <td> <%= f.radio_button :question2, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問3(本文)</td>
          <td> <%= f.radio_button :question3, :important, class: "position" %></td>
          <td> <%= f.radio_button :question3, :good, class: "position" %></td>
          <td> <%= f.radio_button :question3, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問4(本文)</td>
          <td> <%= f.radio_button :question4, :important, class: "position" %></td>
          <td> <%= f.radio_button :question4, :good, class: "position" %></td>
          <td> <%= f.radio_button :question4, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問5(本文)</td>
          <td> <%= f.radio_button :question5, :important, class: "position" %></td>
          <td> <%= f.radio_button :question5, :good, class: "position" %></td>
          <td> <%= f.radio_button :question5, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問6(本文)</td>
          <td> <%= f.radio_button :question6, :important, class: "position" %></td>
          <td> <%= f.radio_button :question6, :good, class: "position" %></td>
          <td> <%= f.radio_button :question6, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問7(本文)</td>
          <td> <%= f.radio_button :question7, :important, class: "position" %></td>
          <td> <%= f.radio_button :question7, :good, class: "position" %></td>
          <td> <%= f.radio_button :question7, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問8(本文)</td>
          <td> <%= f.radio_button :question8, :important, class: "position" %></td>
          <td> <%= f.radio_button :question8, :good, class: "position" %></td>
          <td> <%= f.radio_button :question8, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問9(本文)</td>
          <td> <%= f.radio_button :question910, :important, class: "position" %></td>
          <td> <%= f.radio_button :question910, :good, class: "position" %></td>
          <td> <%= f.radio_button :question910, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問10(本文)</td>
          <td> <%= f.radio_button :question10, :important, class: "position" %></td>
          <td> <%= f.radio_button :question10, :good, class: "position" %></td>
          <td> <%= f.radio_button :question10, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問11(本文)</td>
          <td> <%= f.radio_button :question11, :important, class: "position" %></td>
          <td> <%= f.radio_button :question11, :good, class: "position" %></td>
          <td> <%= f.radio_button :question11, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問12(本文)</td>
          <td> <%= f.radio_button :question12, :important, class: "position" %></td>
          <td> <%= f.radio_button :question12, :good, class: "position" %></td>
          <td> <%= f.radio_button :question12, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問13(本文)</td>
          <td> <%= f.radio_button :question13, :important, class: "position" %></td>
          <td> <%= f.radio_button :question13, :good, class: "position" %></td>
          <td> <%= f.radio_button :question13, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問14(本文)</td>
          <td> <%= f.radio_button :question14, :important, class: "position" %></td>
          <td> <%= f.radio_button :question14, :good, class: "position" %></td>
          <td> <%= f.radio_button :question14, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問15(本文)</td>
          <td> <%= f.radio_button :question15, :important, class: "position" %></td>
          <td> <%= f.radio_button :question15, :good, class: "position" %></td>
          <td> <%= f.radio_button :question15, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問16(本文)</td>
          <td> <%= f.radio_button :question16, :important, class: "position" %></td>
          <td> <%= f.radio_button :question16, :good, class: "position" %></td>
          <td> <%= f.radio_button :question16, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問17(本文)</td>
          <td> <%= f.radio_button :question17, :important, class: "position" %></td>
          <td> <%= f.radio_button :question17, :good, class: "position" %></td>
          <td> <%= f.radio_button :question17, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問18(本文)</td>
          <td> <%= f.radio_button :question18, :important, class: "position" %></td>
          <td> <%= f.radio_button :question18, :good, class: "position" %></td>
          <td> <%= f.radio_button :question18, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問19(本文)</td>
          <td> <%= f.radio_button :question19, :important, class: "position" %></td>
          <td> <%= f.radio_button :question19, :good, class: "position" %></td>
          <td> <%= f.radio_button :question19, :normal, class: "position" %></td>
        </tr>
        <tr>
          <td>質問20(本文)</td>
          <td> <%= f.radio_button :question20, :important, class: "position" %></td>
          <td> <%= f.radio_button :question20, :good, class: "position" %></td>
          <td> <%= f.radio_button :question20, :normal, class: "position" %></td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="flex-container">
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
    </div>