<div id="view-list-mac">
  <h1 class="nav-left">価値観リスト</h1>
  <%= link_to(content_tag(:i, 'Sample！', class: "fas fa-angle-double-right fa-3x faa-horizontal animated-hover fa-pull-right",
                          style: "color: rgb(80,80,80);"), sample_path(current_user)) %>
  <div class="nav-right">
    <%= link_to(content_tag(:i, 'Create！', class: "fas fa-angle-double-right fa-3x faa-horizontal animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), new_list_path) %>
  </div>
</div>
<% if @user.lists.empty? %>
  <div class="site-width">
    <h2>
      <div class="align-left"><p>
        <p> まず初めに６つの質問を受けてその回答を入力してください。</p><br>
    </h2>
    <%= link_to "具体的な例を見る", list_path(current_user),
                class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
    <%= link_to "6つの質問を受ける", new_list_path,
                class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  </div>
<% end %>
<% if @user.lists.any? %>
    <%= @user.lists.each do |list| %>
      <div class="site-width">
        <div class="process">
          <h2 class="text_color_grey">1:あなたはどのような価値観で育てられましたか？
            自分のいまの思考体系は、育てられた価値観とは違う視点で世界を見ていますか？</h2>
          <h2><%= simple_format(list.answer) %></h2>
        </div>
        <div class="process">
          <h2 class="text_color_grey">2:あなたの幼い頃や思春期における最も重要な出来事や経験は何ですか？</h2>
          <h2><%= simple_format(list.event) %></h2>
        </div>
        <div class="process">
          <h2 class="text_color_grey">3:あなたは職場や私生活で、どんな人たちを一番尊敬していて、
            その人たちのどんなところを尊敬していますか？</h2>
          <h2><%= simple_format(list.respect) %></h2>
        </div>
        <div class="process">
          <h2 class="text_color_grey">4:あなたが一番尊敬していないのはどんな人で、なぜそんな風に思いますか？</h2>
          <h2><%= simple_format(list.disdain) %></h2>
        </div>
        <div class="process">
          <h2 class="text_color_grey">5:あなたのいままでで最高（最悪）の上司は誰ですか？そう思うのは、
            その上司が何をしたからですか？</h2>
          <h2><%= simple_format(list.boss) %></h2>
        </div>
        <div class="process">
          <h2 class="text_color_grey">6:自分の子供を育てたり、他人を指導するにあたり、
            一番伝えたいのはどんな行動で、一番伝えたくないのはどんな行動ですか？</h2>
          <h2><%= simple_format(list.guidance) %></h2>
        </div>
        <div class="process">
          <h2><%= simple_format(list.question) %></h2>
        </div>
        <div class="right-position">
          <%= link_to(content_tag(:i, '', class: "fas fa-trash-alt fa-3x faa-horizontal animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), list_path(list.id), method: :delete, data: {confirm: "本当に削除しますか？1〜6まで全て消えます。
編集はペンのアイコンでできます。"}) %>
          <%= link_to(content_tag(:i, '', class: "fas fa-edit fa-3x faa-vertical animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), edit_list_path(list.id)) %>
        </div>
    <% end %>
  <% end %>
  </div>

<%= render 'values' %>