<div class="it-width">
  <div class="prev-left">
    <%= link_to(content_tag(:i, 'Return', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), it_path(current_user)) %>
    <%= link_to(content_tag(:i, '', class: "fas fa-question fa-3x
                                faa-vertical animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), hint_path) %></div>
  <div class="wrapper">
    <div class="column">
      <%= form_with model: @it, local: true do |f| %>
        <div class="if-list">
          <p>
            <%= f.label :"If(〇〇という状況の時)→→→", class: 'label' %><br>
            <%= f.text_area :situation, class: 'form-area' %>
          </p>
          <% if @it.errors.include?(:situation) %>
            <div class="alert alert-danger">
              <%= @it.errors.messages[:situation][0] %>
            </div>
          <% end %>
        </div>
        </div>
        <div class="column">
          <div class="if-list">
            <p>
              <%= f.label :"Then(〇〇という行動をする)", class: 'label' %>
              <%= f.text_area :behavior, class: 'form-area' %>
            </p>
            <% if @it.errors.include?(:behavior) %>
              <div class="alert alert-danger">
                <%= @it.errors.messages[:behavior][0] %>
              </div>
            <% end %>
          </div>
        </div>
        </div>
        <p><%= f.submit "登録", class: "btn-submit" %></p>
      <% end %>
      </div>
</div>