<% provide(:title, "If-thenルール編集") %>
<% provide(:text, '編集') %>
<% provide(:button_text, '一括編集') %>
<%= render 'form-title' %>
      <%= form_with model: current_user, url: it_path, method: :patch, local: true do |form| %>
        <%= form.fields_for :its do |field| %>
          <div class="wrapper">
            <div class="column">
              <p>
                <%= field.label :situation, class: 'btn slide-red' %>
                <%= field.text_field :situation, class: 'form-field', required: true %>
              </p>
            </div>
            <div class="column">
              <p>
                <%= field.label :behavior, class: 'btn slide-blue' %>
                <%= field.text_field :behavior, class: 'form-field', required: true %>
              </p>
            </div>
          </div>
        <% end %>
        <div class="center-position">
          <%= form.submit yield(:button_text), class: "btn float" %>
      <% end %>
        </div>
      </div>
    </div>
    </section>
  </main>
    <%= render 'side-right' %>