<% provide(:title, "If-thenルール新規作成") %>
<% provide(:text, '新規作成') %>
<% provide(:button_text, '一括登録') %>
<%= render 'form' %>
<%= form_with model: @its, url: its_path, local: true do |form| %>
  <% @its.collection.each do |it| %>
    <%= fields_for 'its[]', it do |field| %>
      <div class="wrapper">
        <div class="column">
          <p>
            <%= field.label "If(〇〇という状況の時には)", class: 'btn slide-red' %>
            <%= field.text_field :situation, class: 'form-field', required: true %>
          </p>
        </div>
        <div class="column">
          <p>
            <%= field.label "Then(〇〇という行動)", class: 'btn slide-blue' %>
            <%= field.text_field :behavior, class: 'form-field', required: true %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="center-position">
    <%= form.submit yield(:button_text), class: "btn float" %>
<% end %>
</div>
</div>
</section>
</main>
<%= render 'side-right' %>