<% provide(:title, "new") %>
<h1 class="text-center">IF Thenテクニック　新規作成</h1>
<div class="it-width">
  <div class="prev-left">
    <%= link_to(content_tag(:i, 'Return', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), it_path(current_user)) %>
    <%= link_to(content_tag(:i, '', class: "fas fa-question fa-3x
                                faa-vertical animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), its_path) %>
  </div>
  <%= form_with model: @its, url: its_path, local: true do |form| %>
    <% @its.collection.each do |it| %>
      <%= fields_for 'its[]', it do |field| %>
        <div class="wrapper">
          <div class="column">
            <div class="if-list">
              <p>
                <%= field.label "If(〇〇という状況の時)→→→", class: 'label' %>
                <%= field.text_field :situation, class: 'form-field', required: true %>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="if-list">
              <p>
                <%= field.label "Then(〇〇という行動をする)", class: 'label' %>
                <%= field.text_field :behavior, class: 'form-field', required: true %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= form.submit '一括登録' %>
    <%= link_to '戻る', it_path(current_user) %>
  <% end %>
<%= render 'shared/footer_fix' %>