<!--newとeditの共通部分-->
<div class="col-md-12">
  <div class=container>
    <div class=prev-left>
      <%=link_to(content_tag(:i,'Return',class:"fas fa-angle-double-left fa-3x 
      faa-horizontal animated-hover",style: "color: rgb(80,80,80);"),user_path(current_user))%>
    </div>
  <div class="new-todo-list-form">
<%= form_for @task do |f| %>
  <li id="new-list">
    <h3>
    <%= f.label :タイトル ,class: 'label'%><br>
    <%= f.text_field :title, class: 'form-field'%>
    <%= f.label :メモ ,class: 'label'%>
    <%= f.text_area :content,class: 'form-area'%>
    <% if @task.errors.any? %>
    <%= @task.errors.messages[:title][0] %>
    <% end %>
    </h3>
  </li>
    <p><%= f.submit "登録", class: "btn-submit" %></p>
    <% end %>
  </div>
  </div>
 </div>
</section>
</div>