<div class="it-width">
  <div class="prev-left">
    <%= link_to(content_tag(:i, 'Return', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), task_path(current_user)) %>
    <%= link_to(content_tag(:i, '', class: "fas fa-question fa-3x
                                faa-vertical animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), tasks_path) %>
  </div>
  <%= form_with model: @tasks, url: tasks_path, local: true do |form| %>
    <% @tasks.collection.each do |task| %>
      <%= fields_for 'tasks[]', task do |field| %>
        <%= field.label :"タイトル : あなたが達成したいことを書いてください", class: 'label' %><br>
        <%= field.text_field :title, class: 'form-field', required: true %>
        <%= field.label :"優先順位 :  優先順位の高い順に自動で並び替わります。", class: 'label' %>
        <%= field.select :priority, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], {include_blank: '選択してください'}, {class: 'form-box', required: true} %>
        <%= field.label :"メモ (50文字まで登録できます)", class: 'label' %>
        <%= field.text_area :content, class: 'form-area' %>
      <% end %>
    <% end %>
    <%= form.submit '一括登録' %>
    <%= link_to '戻る', task_path(current_user) %>
  <% end %>
<%= render 'shared/footer_fix' %>