<!--全体的に真ん中に寄せる-->
<div class=container>
  <div id= "main-view" class="main-width">
    <div id= "view-list">
      <div class= "nav-wrapper"></div>
        <h1 class="nav-left">To Do リスト!</h1>
          <div class="nav-right">
<%=link_to(content_tag(:i,'Create！',class:"fas fa-angle-double-right fa-3x faa-horizontal animated-hover fa-pull-right",style: "color: rgb(80,80,80);"),new_task_path)%>
          </div>
  　   </div>
  　   </div>
  　    <section class="panel"> 
      <div class="panel-left">
    <% @tasks.each do |task| %>
    <%= check_box_tag '', '', task.done, {'data-id' => task.id } %>
    <%= task.title %>
    
    <%= task.content %>
<!--<li id= "panel-right">-->
      </div>
    <!--link_toでリンクを作り↓ルートを指定しているのでidもいるよ-->
    <div id="current">
    <!--<div class="Icon-position">-->
    <div class= "panel-right">
    <%=link_to(content_tag(:i,'',class:"fas fa-trash-alt fa-2x faa-horizontal animated-hover fa-pull-right",style: "color: rgb(30,0,0);"), task_path(task.id), method: :delete,data: { confirm: "本当に削除しますか？" }  )%>
    <%=link_to(content_tag(:i,'',class:"fas fa-edit fa-2x faa-horizontal animated-hover fa-pull-right",style: "color: rgb(30,0,0);"), edit_task_path(task.id))%>
    </section>
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    
     </thead>
    <% end %>
    </section>
    </div>
    </table>

</div>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--Ajaxでチェックボタンを動的にする-->
    <script>
  $(function(){
    $("input[type=checkbox]").click(function(){
      $.post('/tasks/' + $(this).data('id') + '/toggle');
    });
  });
</script>