<% provide(:title, "ToDoリスト 新規作成") %>
<% provide(:button_text, "一括登録") %>
<% provide(:form_title, "一括作成します") %>
<%= render 'form-title' %>
<%= form_with model: @tasks, url: tasks_path, local: true do |form| %>
  <% @tasks.collection.each do |task| %>
    <%= fields_for 'tasks[]', task, local: true do |field| %>
      <h3>
        <%= field.label :"タイトル : あなたが1日で達成したいことを書いてください", class: "mb-md" %>
        <%= field.text_field :title, class: 'tasks__form__field', required: true,
                             include_blank: '選択してください', placeholder: '筋トレ 学習 仕事の内容など自由に' %><br>
        <% if @tasks.errors.include?(:title) %>
          <div class="alert alert-danger">
            <%= @tasks.errors.messages[:title][0] %>
          </div>
        <% end %>
        <p><%= field.label :"優先順位 :  優先順位の高い順に自動で並び替わります。", class: "mb-md" %></p>
        <p><%= field.select :priority, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
                            { include_blank: '選択してください' }, { class: 'tasks__form__box', required: true } %></p>
        <br>
        <p><%= field.label :"メモ (50文字まで登録できます)", class: "mb-md" %></p>
        <p><%= field.text_area :content, class: 'tasks__form__area mb-md', placeholder: 'ご自由にどうぞ' %></p>
        <% if @tasks.errors.include?(:content) %>
          <div class="alert alert-danger">
            <%= @tasks.errors.messages[:content][0] %>
          </div>
        <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="center-position">
    <div class="world__btn item">
      <%= link_to '戻る', task_path(current_user), class: "btn float" %>
      <%= form.submit yield(:button_text), class: "btn float" %>
    </div>
  </h3>
  </div>
<% end %>
<%= render 'side-right-task' %>
