<div class=container>
  <div id="main-view" class="main-width">
    <div id="view-list">
      <h1 class="text-center">To Do リスト!</h1>
    </div>
  </div>
  <% if @user.tasks.empty? %>
    <div class="panel-empty">
      <h1 class="text-center">ToDoリストへようこそ！</h1>
      <h2 class="guidance">
        <li>仕事や学校が忙しくても何からやれば良いかもう悩みません。</li>
        <li>あなたがいまやるべきことを抜き出して管理しましょう。</li>
        <li>ToDoリスト!を活用して、仕事や勉強の効率化に役立ててください！</li>
      </h2>
      <div class="center-position">
        <%= link_to "ToDoリストを作成する", new_task_path,
                    class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      </div>
    </div>
  <% end %>
  <% if @user.tasks.any? %>
    <trigger_time class="btn-sticky">更新・作成日時を表示/非表示</trigger_time>
    <trigger_priority class="btn-sticky">優先順位1のみ表示</trigger_priority>
    <%= link_to "アイビー・リー・メソッド", tasks_path, class: "btn-sticky-blue" %>
    <%= link_to(content_tag(:i, 'Create！', class: "fas fa-angle-double-right fa-3x
                                faa-horizontal animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), new_task_path) %>
    <% @user.tasks.each do |task| %>
      <section class="panel <%= "not-priority-1" if task.priority != 1 %>">
        <div class="panel-left">
          <ul class="checkbox">
            <%= check_box_tag 'task', '', task.done, {'data-id' => task.id, class: 'tasks-checkbox'} %>
            <h2>ToDo:<%= task.title %></h2>
            <h2>メモ:<%= task.content %></h2>
            <h2>優先順位:<%= task.priority %></h2>
            <li><h3 class="tasks-time">更新日時:<%= task.updated_at.to_s(:datetime_jp) %>
              作成日時:<%= task.created_at.to_s(:datetime_jp) %></h3></li>
          </ul>
        </div>
        <div class="panel-right">
          <%= link_to(content_tag(:i, '', class: "fas fa-trash-alt fa-3x faa-horizontal animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), task_path(task.id), method: :delete, data: {confirm: "本当に削除しますか？"}) %>
          <%= link_to(content_tag(:i, '', class: "fas fa-edit fa-3x faa-vertical animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), edit_task_path(task.id)) %>
      </section>
    <% end %>
    <li class="active">
<%= paginate @tasks %>
    </li>
    <%= link_to(content_tag(:i, '', class: "fas fa-edit fa-3x faa-vertical animated-hover
 fa-pull-right", style: "color: rgb(80,80,80); margin-bottom: 15px;"), edit_it_path ) %>
    <%= link_to(content_tag(:i, '', class: "fas fa-bomb fa-3x faa-horizontal
 animated-hover fa-pull-right", style: "color: rgb(80,80,80); margin-bottom: 15px;"), destroy_all_tasks_path, method: :delete, data: {confirm: "全て削除します。本当に削除しますか？"}) %>
    </div>
  <% end %>
  </div>