<div class="mac-width">
    <%= form_with model: @mac, local: true do |f| %>
    <h3>
          <%= f.label :"M(Measurable : 数字で表すことができる目標", class: 'todo__label' %><br>
          <%= f.text_area :measurable, class: 'form-area' %>
        <% if @mac.errors.include?(:measurable) %>
          <div class="alert alert-danger">
            <%= @mac.errors.messages[:measurable][0] %>
          </div>
        <% end %>
          <%= f.label :"A(Actionable :  ゴールまでのプロセスを明確化させる", class: 'priority' %>
          <%= f.text_area :actionable, class: 'form-area' %>
        <% if @mac.errors.include?(:actionable) %>
          <div class="alert alert-danger">
            <%= @mac.errors.messages[:actionable][0] %>
          </div>
        <% end %>
        <%= f.label :"C(Competent 目標達成が価値観に基づいているか考える", class: 'priority' %>
        <%= f.text_area :competent, class: 'form-area' %>
        <% if @mac.errors.include?(:competent) %>
          <div class="alert alert-danger">
            <%= @mac.errors.messages[:competent][0] %>
          </div>
        <% end %>
        <p><%= f.submit "登録", class: "btn-submit" %></p>
    </h3>
    <% end %>
    </div>
  </div>
</section>
<aside class="side right">
  <%= link_to(content_tag(:i, '', class: "fas fa-question fa-3x
                                faa-vertical animated-hover fa-pull-right",
                          style: "color: rgb(80,80,80);"), macs_path) %>
</aside>