<% if @macs.empty? %>
  <div id="main-content">
    <aside class="side left">
      <div class="side__inner">
        <a class="twitter icon tween-animate-title" href="#">Twitter</a>
      </div>
    </aside>
    <main>
      <section class="world">
        <div class="world__inner__reverse">
          <div class="world__img cover-slide">
            <img src="/Birthday.jpg" class="img-zoom" alt=""/>
          </div>
          <div class="world__texts appear left">
            <div class="world__content">
              <div class="main-title-center item">
                <span class="purple">MAC</span>
                <span>の原則 </span>
              </div>
              <div class="world__sub sub-title-center item">MACの原則とは？</div>
              <div class="world__description-reverse item">
                <p>現時点で最も効果のある<br/>ゴール(目標)設定方法のこと</p>
                <p>M(Measurable: 測定可能性)<br/>ゴールを数字で表すことができる</p>
                <p>A(Actionable: 行動可能性)<br/> ゴールまでのプロセスを明確化させる</p>
                <p>C(Competent: 適格性)<br/>目標達成が自分の価値観に基づいているか?</p>
              <div class="world__btn item">
                <button class="btn filled">もっと詳しく</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="flex-container">
        <%= link_to "具体的な例を見る", macs_path,
                    class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
        <%= link_to "MACの原則を作る", new_mac_path,
                    class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      </div>
  </div>
<% end %>
<% if @macs.any? %>
  <% @macs.each do |mac| %>
    <section class="panel-mac">
      <div class="goal">
        <h1 class="text_color_grey">数値で表せる目標</h1>
        <h1><%= simple_format(mac.measurable) %></h1>
      </div>
      <div class="process">
        <h1 class="text_color_grey">ゴールまでの具体的なプロセス</h1>
        <h2><%= simple_format(mac.actionable) %></h2>
      </div>
      <div class="process">
        <h1 class="text_color_grey">目標達成が価値観に基づいているか?</h1>
        <h1><%= simple_format(mac.competent) %></h1>
      </div>
      <div class="flex-container">
        <h3 class="tasks-time">更新:<%= mac.updated_at.to_s(:datetime_jp) %>
          作成:<%= mac.created_at.to_s(:datetime_jp) %></h3>
        <%= link_to(content_tag(:i, '', class: "fas fa-edit fa-3x faa-vertical animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), edit_mac_path(mac.id)) %>
        <%= link_to(content_tag(:i, '', class: "fas fa-trash-alt fa-3x faa-horizontal animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), mac_path(mac.id), method: :delete, data: { confirm: "本当に削除しますか？" }) %>
      </div>
    </section>
    <trigger_time class="btn-sticky">更新・作成日時を表示/非表示</trigger_time>
  <% end %>
<% end %>
<%= render 'shared/script' %>