<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), step_path(current_user)) %>
  </aside>
  <main>
    <section class="todo">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">HIIT記録</div>
        <div class="center-position">
          <%= link_to "グラフを見る", sport_path(current_user), class: "btn slide-slow" %>
          <%= link_to "実際に作ってみる", new_sport_path, class: "btn slide-slow" %>
          <%= link_to "編集する", edit_sport_path(current_user), class: "btn slide-slow" %>
          <%= link_to "シンプル", simple_path, class: "btn slide-slow" %>
        </div>
      </div>
</section>
</main>