<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), step_path(current_user)) %>
  </aside>
  <main>
    <section class="todo">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">HIIT記録</div>
          <div class="modal__bg "></div>
          <div class="modal__content">
            <%= form_with model: @sport, local: true do |f|  %>
              <%= f.label :created_at, '登録日　', class: 'control-label' %>
              <%= f.text_field :sport_date, id: "", type: "text", readonly: "" %>
              <%= f.label :created_at, '運動時間', class: "label" %>
              <%= f.number_field :sport_time, class: "label"%>に
              <%= f.submit "行った"%>
            <% end %>
          </div>
        </div>
<%= render 'shared/script' %>