<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), step_path(current_user)) %>
  </aside>
  <main>
    <section class="todo">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">HIIT記録</div>
        <div class="modal__bg "></div>
        <div class="modal__content">
          <%= form_with model: @hiit, local: true do |f|  %>
            <%= f.label :created_at, '登録日　', class: 'control-label' %>
            <%= f.date_field :training_day, id: "date-form", type: "text", readonly: "" %>
            <%= f.label :created_at, '運動時間', class: "label" %>
            <%= f.number_field :training_time, class: "label"%>に
            <%= f.submit "登録"%>
          <% end %>
        </div>
      </div>
<%= render 'shared/script' %>