<%= form_with model: user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="inputWithIcon">
        <%= f.text_field :name, class: 'form-field', placeholder: 'Your name' %>
        <%= f.email_field :email, class: 'form-field', placeholder: 'Email' %>
        <%= f.password_field :password, class: 'form-field', placeholder: 'パスワード' %>
        <%= f.password_field :password_confirmation, class: 'form-field', placeholder: 'パスワード確認' %>
      </div>
     <div class="center-position"><%= f.submit yield(:button_text), class: " btn float" %></div>
   </div>
    <% end %>
