<% provide(:title, "ユーザー情報変更") %>
<% provide(:button_text, "編集") %>
<%= render 'layouts/side-root' %>
<div id="main-content">
  <main>
    <%= form_with model: @user, local: true do |f| %>
      <section class="world">
        <div class="world__inner">
          <div class="world__img">
            <%= image_tag @user.image.thumb.url if @user.image? %>
          </div>
          <div class="world__texts appear left">
            <div class="world__texts-inner">
              <%= render 'shared/error_messages', object: f.object %>
              <div class="world__title__edit main-title item">
                ユーザー情報変更
              </div>
              <div class="world__description item">
                <%= f.text_field :name, class: 'form-field', placeholder: 'Your name' %>
                <%= f.email_field :email, class: 'form-field', placeholder: 'Email' %>
                <%= f.password_field :password, class: 'form-field', placeholder: 'パスワード' %>
                <%= f.password_field :password_confirmation, class: 'form-field', placeholder: 'パスワード確認' %>
                <%= f.label :プロフィール画像を変更できます。 %>
                <div class="file-upload_area">
                  <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png,image/jpg', class: 'file-upload_input' %>
                </div>
                <%= f.submit yield(:button_text), class: " btn float" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </section>
    </main>
