<% provide(:title, "Home") %>
<% provide(:image_text, "/lifehack.jpg") %>
<% provide(:world_class, "title") %>
<% provide(:world_background, "inner") %>
<!--ログインしているときの画面-->
<% if logged_in? %>
  <div id="content">
    <div class="hero">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero__todo">ToDoリスト</div>
            <img src="/Todolist.jpg">
          </div>
          <div class="swiper-slide">
            <div class="hero__if">IF−Thenテクニック</div>
            <img src="/plan.jpg">
          </div>
          <div class="swiper-slide">
            <div class="hero__mac">MACの原則</div>
            <img src="/Goals.jpg">
          </div>
          <div class="swiper-slide">
            <div class="hero__title">Exercise Tracking</div>
            <img src="/exercise.jpg">
          </div>
        </div>
        <div class="hero__footer">
          <img class="hero__downarrow" src="/arrow.svg"/>
          <span class="hero__scrolltext">scroll</span>
        </div>
      </div>
    </div>
  </div>
  <div id="main-content">
    <main>
      <div class="popular__inner appear up">
        <div class="popular__container">
          <div class="popular__btn item">
            <%= render 'link' %>
            <% if current_user.admin? %>
              <%= link_to "ユーザーを見る(管理者のみ)", user_path(current_user), class: "btn slide-bg" %>
              </div>
              </div>
              </div>
            <% end %>
            <!--ログインしていない時-->
<% else %>
  <div id="main-content">
    <%= render 'shared/world' %>
    <span class="purple">LifeHack Tools</span>
    <div class="world__sub sub-title item">ライフハックツールズ</div>
    <span>にようこそ！</span><br>
  </div>
  <div class="world__description item">
    <p>目標達成や習慣化のアシストツールとして
      <br>LifeHack Tools！を活用して
    </p>
    <p> 文字通り人生(Life)をハックしましょう！</p>
  </div>
  <div class="world__btn item">
    <%= link_to "ユーザー登録", new_user_path, class: "btn slide-bg" %>
    <%= link_to "ログイン", login_path, method: :get, class: 'btn slide-bg' %>
    <%= link_to "かんたんログイン(ワンクリックログイン)", easy_login_path, method: :get, class: 'btn slide-wine' %>
  </div>
  </div>
  </div>
  </div>
  </section>
<% end %>
</main>
