<% if logged_in? %>
  <%= render 'home' %>
  <%= link_to "ToDoリスト！", tasks_path,
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  <%= link_to "Macの原則(目標設定)とは？", macs_path,
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  <%= link_to "Macの原則(目標設定)", mac_path(current_user),
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  <%= link_to "Macの原則を設定", new_mac_path(current_user),
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  <%= link_to "Macの原則を編集", edit_mac_path(current_user),
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  </div>
<% else %>
  <%= render 'home' %>
  <%= link_to "ユーザー登録する！", signup_path, class: "btn-sticky",
              style: "font-size: 28px; color: #333;" %>
  </div>
<% end %>
