<% if logged_in? %>
  <div id="content">
    <div class="hero">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- スライドの部分 -->
          <div class="swiper-slide">
            <!-- 画像の真ん中の文字 -->
            <div class="hero__title">Magnificence</div>
            <img src="/assets/Dahlia.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <div class="hero__title">Solidarity</div>
            <img src="/assets/Gaillardia.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <div class="hero__title">Gentility</div>
            <img src="/assets/Geranium.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div id="main-content">
      <aside class="side left">
        <div class="side__inner">
          <a class="twitter icon tween-animate-title" href="#">Twitter</a>
          <a class="fb icon tween-animate-title" href="#">Facebook</a>
        </div>
      </aside>
      <main>
        <aside class="side right">
          <div class="side__inner">
            <span class="tween-animate-title">&copy;Ota</span>
          </div>
        </aside>
    </div>
  </div>
    <%= render 'root' %>
      <%= link_to "ToDoリスト！", task_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "Small stepとBig area", step_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "Macの原則", mac_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "If-Thenテクニック", it_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "グラフを見る(ビッグエリア)", steps_path,
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <% if current_user.admin? %>
        <%= link_to "ユーザーを見る(管理者のみ)", user_path(current_user),
                    class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <% end %>
  <% else %>
    <%= render 'root' %>
    <%= link_to "ユーザー登録する！", new_user_path, class: "btn-sticky",
                style: "font-size: 28px; color: #333;" %>
  <% end %>

