<div class="container">
  <% if logged_in? %>
    <%= render 'root' %>
    <div class="link-container">
      <%= link_to "ToDoリスト！", task_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "Small stepとBig area", step_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "Macの原則", mac_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "If-Thenテクニック", it_path(current_user),
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <%= link_to "グラフを見る(ビッグエリア)", steps_path,
                  class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <% if current_user.admin? %>
        <%= link_to "ユーザーを見る(管理者のみ)", user_path(current_user),
                    class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
      <% end %>
    </div>
    </div>
  <% else %>
    <%= render 'root' %>
    <%= link_to "ユーザー登録する！", new_user_path, class: "btn-sticky",
                style: "font-size: 28px; color: #333;" %>
    </div>
  <% end %>

