<%= form_with model: @steps, url: steps_path, local: true do |form| %>
  <% @steps.collection.each do |step| %>
    <%= fields_for 'steps[]', step do |field| %>
      <%= field.label :step_name %>
      <%= field.text_field :step_name, class: 'form-field' %>
      <br>
    <% end %>
  <% end %>
  <%= form.submit %>
  <%= link_to '戻る', step_path(current_user) %>
<% end %>
</div>
