<h1 class="text-center">Step Edit</h1>
<div class="site-width">
  <%= form_with model: current_user, url: step_path, method: :patch, local: true do |form| %>
      <%= form.fields_for :steps do |field| %>
        <%= field.label '目標を細切れにしたものを設定してください' %>
        <%= field.text_field :name, class: 'form-field',required: true, placeholder: '目標を細切れにしたものを設定してください' %>
      <% end %>
    <%= form.submit %>
    <%= link_to '戻る', step_path(current_user) %>
  <% end %>
</div>
