<h1 class="text-center">例1(資格などで合格する)</h1>
<div class="example">
  <h2>
    <p>受験する資格を検索して調べる(〇〇検定など)
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>テストまでの期間を調べる(テストまで後何日かなど)
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>受験の申込みの受付期間を調べる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>合格率などを見て大体の難易度を見積もる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>配点や、合格するための条件(例：各大問の内何割以上正解していないと不合格)について調べる。
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>問題例や過去問を検索する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>問題例や過去問から大体の難易度を見積もる。
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>勉強できる時間をだいたい見積もる(1日○時間勉強できそうだなど)
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>受験する資格の教材(教科書、参考書、過去問)を調べる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>ざっと見て自分にあっているものを探す
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材で勉強すれば合格できそうか考える
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>合格できそうなら受験することを決める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>受験の申し込みをする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材を購入する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材で勉強を始める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>ここから先は使っている教材により(任意で)変わります。
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材を(初めから)1ページ勉強する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>勉強して教材を3ページまで進める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>勉強して教材を6ページまで進める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>勉強して教材を10ページまで進める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>勉強して教材を15ページまで進める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に一度小テストなどをして理解できるてるか定期的にチェックする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に1,2回ビッグエリアを確認する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の1章の勉強を終わらせる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の2章から勉強を始める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>2章の1ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>2章の3ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>2章の6ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>2章の10ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>2章の15ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に一度小テストなどをして理解できるてるか定期的にチェックする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に1,2回ビッグエリアを確認する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の2章の勉強を終わらせる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の3章から勉強を始める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>3章の1ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>3章の3ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>3章の6ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>3章の10ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>3章の15ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に一度小テストなどをして理解できるてるか定期的にチェックする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に1,2回ビッグエリアを確認する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の3章の勉強を終わらせる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の4章から勉強を始める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>4章の1ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>4章の3ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>4章の6ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>4章の10ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>4章の15ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に一度小テストなどをして理解できるてるか定期的にチェックする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に1,2回ビッグエリアを確認する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の4章の勉強を終わらせる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の5章から勉強を始める
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>5章の1ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>5章の3ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>5章の6ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>5章の10ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>5章の15ページまで勉強をすすめる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に一度小テストなどをして理解できるてるか定期的にチェックする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>1週に1,2回ビッグエリアを確認する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>教材の5章の勉強を終わらせる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>(出題範囲が5章までと仮定して)
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>各章のテストをする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>苦手な章を調べる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>どの部分が苦手か調べる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>苦手な部分を重点的に勉強する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>苦手な部分の勉強をする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>定期的に小テストや模試などをしてテストに備える
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>テストを受ける準備をする
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>試験会場へのアクセス方法を調べる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>試験会場に何時までに到着すればよいか調べる
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>試験会場に行く
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>テストを受ける
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>合否を確認する
      <%= render 'shared/under_arrow' %>
      <h2>
    <p>終わり</p></h2>
</div>
<div class="flex-container">
  <%= link_to "実際に作ってみる", new_step_path,
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
</div>