<div class=container>
  <div class=prev-left>
    <%= link_to(content_tag(:i, 'Return', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), task_path(current_user)) %>
  </div>
  <%= form_with model: @step, url: goal_create_path, method: :post,local: true do |f| %>
    <div id="new-list">
      <div class="inputWithIcon">
        <%= f.label :goal, class: 'label' %>
        <%= f.text_field :goal, class: 'form-field', placeholder: '目標を設定します' %>
      </div>
      <%= f.submit "登録する", class: "btn-submit" %>
  <% end %>
  </div>
</div>