<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), step_path(current_user)) %>
  </aside>
  <section class="content-width">
    <div class="log-form">
      <div class="form-title tween-animate-title center-position">スモールステップとビッグエリア</div>
<%= render 'shared/resources' %>
<% if @user.steps.any? %>
  <% @user.steps.each do |step| %>
    <h1 class="text-center"><%= step.goal %></h1>
    <% end %>
  <% end %>
<%= render 'shared/graph' %>
<div id="chartdiv"></div>
</div>
    <div class="center-position">
<%= link_to "具体的な例を見る", example_path(current_user),
            class: "btn slide-slow " %>
      </div>
    <aside class="side right">
      <%= link_to(content_tag(:i, 'Create！', class: "fas fa-angle-right faa-horizontal
     animated-hover", style: "color: rgb(80,80,80);"), new_step_path) %>
    </aside>