<% provide(:title, "new") %>
<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), step_path(current_user)) %>
  </aside>
  <main>
    <section class="todo">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">スモールステップを作成します</div>
        <%= form_with model: @steps, url: steps_path, local: true do |form| %>
          <% @steps.collection.each do |step| %>
            <%= fields_for 'steps[]', step do |field| %>
              <%= field.label 'スモールステップ', class: 'priority' %>
              <%= field.text_field :name, class: 'form-field center-position', required: true, placeholder: '目標を細切れにしたものを設定してください' %>
            <% end %>
          <% end %>
          <div class="center-position">
            <%= link_to '戻る', step_path(current_user), class: "btn float" %>
            <%= form.submit '一括登録', class: "btn float" %>
          </div>
        <% end %>
      </div>
    </section>
  </main>
  <aside class="side right">
    <%= link_to(content_tag(:i, '', class: "fas fa-question faa-vertical  fa-2x animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), steps_path) %>
  </aside>
