<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), it_path(current_user)) %>
  </aside>
<main>
  <% if @user.steps.empty? %>
    <section class="todo">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">スモールステップとビッグエリアとは？</div>
        <h2>
          <div class="small-step"><p>スモールステップとは最終的な目標の簡易版を数多く作りクリアすることで</p><br>
            <p>モチベーションを上げるための仕組みです。</p><br>
            <p>自分が前に進んでいるという感覚が重要なので、目標実現に向けてのプロセスを</p><br>
            <p>できるだけ簡単なものから、ステップ・バイ・ステップで分けていくのが重要です。</p>
          </div>
          <div class="big_area">
            <p>ビッグエリアとは目指すべきゴールのことで、細かく分解された目標で進みがゆっくりになった時</p><br>
            <p>最終的な目標を見失ってしまわないように</p><br>
            <p>週に1,2回自分がなにを目指してステップをクリアしているか見直すためのものです。</p><br>
          </div>
        </h2>
        <div class="center-position">
          <%= link_to "具体的な例を見る", example_path, class: "btn slide-slow" %>
          <%= link_to "グラフを見る(ビッグエリア)", steps_path, class: "btn slide-slow" %>
          <%= link_to "実際に作ってみる", new_step_path, class: "btn slide-slow" %>
          <%= link_to "シンプル", simple_path, class: "btn slide-slow" %>
          <%= link_to "目標を設定する", goal_path, class: "btn slide-slow" %>
        </div>
      </div>
  <% end %>
  <!--stepが登録されているとき表示-->
  <% if @user.steps.any? %>
    <section class="todo">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">スモールステップとビッグエリアとは？</div>
        <h2>
    </div>
    <div class="border"></div>
    <% @user.steps.each do |step| %>
        <div class="step-container">
          <%= step.name %>
        </div>
        <div class="step-container2">
          <input class="calendar" id="date-form" type="text" placeholder="達成した日付を設定(グラフの描画に必要です)" readonly,>
          <%= check_box_tag '', '', step.done, { 'data-id' => step.id, class: 'stepbox' } %>
          <%= link_to(content_tag(:i, '', class: "fas fa-trash-alt  fa-2x faa-horizontal
         animated-hover fa-pull-right", style: "color: rgb(80,80,80); margin: 28px;"), step_path(step.id), method: :delete, data: { confirm: "本当に削除しますか？" }) %>
        </div>
    <% end %>
    <%= link_to(content_tag(:i, '', class: "fas fa-edit fa-3x faa-vertical animated-hover
 fa-pull-right", style: "color: rgb(80,80,80);"), edit_step_path) %>
    <%= link_to(content_tag(:i, '', class: "fas fa-bomb fa-3x faa-horizontal
 animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), destroy_all_steps_path,
                method: :delete, data: { confirm: "全て削除します。本当に削除しますか？" }) %>
    <%= link_to "具体的な例を見る", example_path(current_user), class: "btn slide-slow" %>
    <%= link_to "グラフを見る(ビッグエリア)", steps_path, class: "btn slide-slow" %>
    <%= link_to "実際に作ってみる", new_step_path, class: "btn slide-slow" %>
    <%= link_to "目標を設定する", goal_path, class: "btn slide-slow" %>
  <% end %>
  </section>
</main>
  <aside class="side right">
    <%= link_to(content_tag(:i, 'Create！', class: "fas fa-angle-right faa-horizontal
     animated-hover", style: "color: rgb(80,80,80);"), new_step_path) %>
  </aside>
  <%= render 'shared/script' %>
