
<footer class="footer">
  <div class="container">
    <div class="text">
      <ul>
        <li>
    <%=link_to(content_tag(:i,'',class:"fab fa-twitter fa-3x faa-wrench animated-hover",
                 style: "color: rgb(230,230,240);"),"https://twitter.com/home?lang=ja")%>
    <%=link_to(content_tag(:i,'',class:"fab fa-bootstrap fa-3x faa-vertical animated-hover",
                 style: "color: rgb(230,230,240);"),"https://getbootstrap.com/")%>
    <%=link_to(content_tag(:i,'',class:"fab fa-font-awesome-alt fa-3x faa-vertical animated-hover",
                 style: "color: rgb(230,230,240);"),"https://fontawesome.com/")%>
    <%= link_to "退会する", @user_path, method: :delete,
    data: {confirm: "本当に退会しますか？"}, style: "color: #fff; font-size: 34px;"%>
        </li>
      </ul>
    <%=link_to 'Copyright © To Do リスト!All Rights Reserved.', root_url, style: "color: rgb(250,250,250);"%>
    </div>
  </div>
</footer>