<footer class="footer appear up">
  <nav class="footer__nav">
    <ul class="footer__ul">
      <div class="logo item">
        <li class="footer__li item">
          <%= link_to 'LifeHack Tools！', root_url, style: "footer__link item" %></li>
      </div>
      <li><%= link_to(content_tag(:i, '', class: "fab fa-twitter faa-wrench animated-hover fa-2x item",
                                  style: "color: #333;"), "https://twitter.com/suzutuki0149") %>
      </li>
      <li class="footer__li item"><a href="#">Sitemap</a></li>
      <div class="footer__copyright item">&copy suzutuki
    </ul>
    </div>
  </nav>
</footer>
<nav class="mobile-menu">
  <%= link_to(content_tag(:i, 'HOME', class: "fas fa-home fas faa-vertical
      animated-hover", style: "color: #1d1d1f;" "font-size: 1.5em"), root_path) %>
  <ul class="mobile-menu__main">
    <% if logged_in? %>
      <%= render 'users/link' %>
      <% if logged_in? && !guest_user %>
        <li><%= link_to "LifeHack Toolsを退会", @user, method: :delete,
                        data: { confirm: "本当に退会しますか？" }, class: "btn solid" %>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "ユーザーを見る(管理者のみ)", user_path(current_user), class: "btn slide-bg" %>
      <% end %>
      <%= link_to "Log out", logout_path, method: :delete,
                  data: { confirm: "ログアウトしますか？" }, class: "btn solid" %>
    <% else %>
      <%= link_to "Log in", login_path, class: "btn float" %>
      <%= link_to "Sign-up!", new_user_path, class: "btn float" %>
    <% end %>
  </ul>
</nav>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</body>
</html>


