<footer class="footer appear up">
  <nav class="footer__nav item">
    <ul class="footer__ul item">
      <div class="logo item">
        <li class="footer__li item">
          <%= link_to 'LifeHack', root_url, class: "footer__link" %>
          <%= link_to 'Tools', root_url, class: "footer__link__tools" %>
          <%= link_to 'My blog', "https://suzutukiblog.com/", class: "footer__blog" %>
          <%= link_to 'How to use', how_to_path, class: "footer__others" %>
          <%= link_to "Log out", logout_path, method: :delete,
                      data: { confirm: "ログアウトしますか？" }, class: "footer__others" %>
      </div>
      </li>
    </ul>
    </div>
  </nav>
</footer>
<nav class="mobile-menu">
  <%= link_to 'LifeHack Tools', root_url, class: "mobile-menu__life item" %>
  <ul class="mobile-menu__main">
    <% if logged_in? %>
      <%= link_to "MACの原則", mac_path(current_user), class: "btn slide-red-slow" %>
      <%= link_to "ToDoリスト", task_path(current_user), class: "btn slide-green-slow" %>
      <%= link_to "If-Thenテクニック", it_path(current_user), class: "btn slide-yellow-slow" %>
      <%= link_to "Exercise Tracking", hiit_path(current_user), class: "btn slide-wine-slow" %>
      <% if logged_in? && !guest_user %>
        <li><%= link_to "LifeHack Toolsを退会", @user, method: :delete,
                        data: { confirm: "本当に退会しますか？" }, class: "btn solid" %>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "ユーザーを見る(管理者のみ)", user_path(current_user), class: "btn slide-bg" %>
      <% end %>
      <%= link_to "Log out", logout_path, method: :delete,
                  data: { confirm: "ログアウトしますか？" }, class: "btn solid" %>
    <% else %>
      <%= link_to "Log in", login_path, class: "btn float" %>
      <%= link_to "Sign-up!", new_user_path, class: "btn float" %>

    <% end %>
  </ul>
</nav>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</body>
</html>


