<!--モバイルメニューとヘッダー担当-->
<body>
<% if content_for?(:body_attributes) %>
  <%= yield(:body_attributes) %>
<% end %>
<div id="global-container">
  <div id="container">
    <div class="mobile-menu__cover"></div>
    <div class="nav-trigger"></div>
    <header class="header">
      <div class="header__inner">
        <%= link_to(content_tag(:i, 'LifeHack Tools', class: "fas fa-home fa-2x fas faa-vertical
      animated-hover", style: "color: #1d1d1f;"), root_path) %>
        <nav class="header__nav">
          <ul class="header__ul">
            <% if logged_in? %>
              <li class="header__li item">
                <%= link_to "ToDo", task_path(current_user) %>
              </li>
              <li class="header__li item">
                <%= link_to 'Config', edit_user_path(current_user) %>
              </li>
              <li class="header__li item">
                <%= link_to "Log out", logout_path, method: :delete,
                            data: { confirm: "ログアウトしますか？" } %>
              </li>
            <% else %>
              <li class="header__li item">
                <%= link_to "Log in", login_path %>
              </li>
              <li class="header__li item">
                <%= link_to "Sign-up!", new_user_path %>
              </li>
            <% end %>
          </ul>
        </nav>
        <button class="mobile-menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>
    <!--divが2つ閉じられていないのに注意-->
    <!--footerの前に閉じるのとnavの後とscriptの前に閉じる-->