<body>
<div id="global-container">
  <div id="container">
    <div class="mobile-menu__cover"></div>
    <div class="nav-trigger"></div>
    <header class="header">
      <div class="header__inner">
        <div class="header__home item">
          <%= link_to "LifeHack", root_path, class: "header__home" %>
          <%= link_to "Tools", root_path, class: "header__hack" %>
        </div>
        <nav class="header__nav">
          <ul class="header__ul">
            <% if logged_in? %>
              <li class="header__li item">
                <%= link_to "ToDo", task_path(current_user) %>
              </li>
              <li class="header__li item">
                <%= link_to 'MAC', mac_path(current_user) %>
              </li>
              <li class="header__li item">
                <%= link_to 'If-then', it_path(current_user) %>
              </li>
              <li class="header__li item">
                <%= link_to 'Exercise', hiit_path(current_user) %>
              </li>
              <% if !guest_user %>
                <li class="header__li item">
                  <%= link_to 'Config', edit_user_path(current_user) %>
                </li>
              <% end %>
            <% else %>
              <li class="header__li item">
                <%= link_to "Log in", login_path %>
              </li>
              <li class="header__li item">
                <%= link_to "Sign-up!", new_user_path %>
              </li>
            <% end %>
          </ul>
        </nav>
        <button class="mobile-menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>