<%= render 'layouts/head' %>
<%= render 'layouts/header' %>
<!--モバイルメニューとヘッダー担当-->
<!--ヘッダーココまで-->
<!--divが2つ閉じられていないのに注意-->
<!--footerの前に閉じるのとnavの後とscriptの前に閉じる-->
<%= render 'layouts/flash_messages' %>
<!--ココにそれぞれのページの内容-->
<%= yield %>
<!--ココからサイドバー右-->
</div>
<%#= render 'layouts/side-right' %>

<!--ローカルスタッキングコンテキストを閉じるためのdiv-->
<!--ココからフッター-->
<%#= render 'layouts/footer' %>
<footer class="footer appear up">
  <nav class="footer__nav">
    <ul class="footer__ul">
      <div class="logo item">
        <li class="footer__li item">
          <%= link_to 'LifeHack Tools！', root_url, style: "color: #333;" %>
        </li>
      </div>
      <li class="footer__li item"><a href="#">Service</a></li>
      <li class="footer__li item"><a href="#">Contact</a></li>
      <li class="footer__li item"><a href="#">Company</a></li>
      <li class="footer__li item"><a href="#">Sitemap</a></li>
      <div class="footer__copyright item">&copy suzutuki
    </ul>
    </div>
  </nav>
</footer>
<%#= render 'layouts/mobile-menu' %>
<!--ココからモバイルメニュー-->
<nav class="mobile-menu">
  <%= link_to(content_tag(:i, 'HOME', class: "fas fa-home fas faa-vertical
      animated-hover", style: "color: #1d1d1f;" "font-size: 1.5em"), root_path) %>
  <ul class="mobile-menu__main">
    <% if logged_in? %>
      <%= link_to "ToDoリスト！", task_path(current_user), class: "btn solid" %>
      <%= link_to "Small stepとBig area", step_path(current_user), class: "btn solid" %>
      <%= link_to "Macの原則", mac_path(current_user), class: "btn solid" %>
      <%= link_to "If-Thenテクニック", it_path(current_user), class: "btn solid" %>
      <%= link_to "グラフを見る(ビッグエリア)", steps_path, class: "btn slide-bg" %>
      <% if current_user.admin? %>
        <%= link_to "ユーザーを見る(管理者のみ)", user_path(current_user), class: "btn slide-bg" %>
      <% end %>
      <%= link_to "Log out", logout_path, method: :delete,
                  data: { confirm: "ログアウトしますか？" }, class: "btn solid" %>
    <% else %>
      <%= link_to "Log in", login_path, class: "btn float" %>
      <%= link_to "Sign-up!", new_user_path, class: "btn float" %>
    <% end %>
  </ul>
</nav>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</body>
</html>



