<!-- header begin -->
<!--_header.html.erb予定地-->
<%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  
<!--ヘッダーは問題ないよ-->
  <!-- header end -->
  <%= yield %>
  <!--footer bigin-->
<%= render 'layouts/footer' %>

<!-- footer end -->
  </body>
</html>
